<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Ecossistema</title>

    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

    <h1>Projeto Ecossistema</h1>

    <form action="/ligar" method="post">
        <button type="submit">Liga</button>
    </form>

    <form action="/desligar" method="post">
        <button type="submit">Desliga</button>
    </form>

    <a href="/outrobroker">
        <button>Outro Broker</button>
    </a>

</body>
</html>