<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outro Broker</title>

    <link rel="stylesheet" href="./static/outrobroker.css">
</head>
<body>

    <h1>Outro Broker</h1>

    <form action="/ligar_outro" method="post">
        <button type="submit">Liga</button>
    </form>

    <form action="/desligar_outro" method="post">
        <button type="submit">Desliga</button>
    </form>

    <a href="/">
        <button>Voltar</button>
    </a>

</body>
</html>